.text-line {
    background-color: transparent;
    color: #3b3b3b;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #b1adad 1px;
    padding: 3px 10px;
    width: 100%;
}
.cards {
    font-size: small;
}
.tag {
    background-color: rgb(236, 235, 234);
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    font-weight: bold;
}